*{
    margin: 0%;
    padding: 0%;
}
/*-----------------------------------------------------*/
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.baner{
  width: 100%;
  background-color:black;
  padding: 30px;
  text-align: center;
  color: whitesmoke;
}
.mensagem{
  background-color: yellow;
  text-align: center;
}
/*-----------------------------------------------------*/
/*inicio menu*/
.menu{
  text-align: center;
  background-color: rgb(8, 83, 196);
}
li{
  margin-left: 20px;
  display: inline;
  margin-top: 20px;
  text-align: center;
  font-size: 200%;
  background-color: rgb(8, 83, 196);


}
a{
  text-decoration: none;
  color: black;
 

}
a:hover {
  color: whitesmoke;
  padding: 5px;
}
/*fim menu*/
/*-----------------------------------------------------*/
.foco{
  text-align: center;
}
.foco img{
  width: 60%;
  height: 500px;
 
}
.video_aulas{
  margin-left: 10px;
  color: black;
  background-color: white;
  z-index: 1;
  padding: 30px;
  text-align: center;
  margin: 10px;
  float: left;
   
}

@media only screen and (max-width: 600px) {
  .menu{
    text-align: center;
    background-color: gray;
  }
  li{
    display: block;
    margin-top: 10px;  
    padding: 10px;
    margin-left: 0%;

  }
  a{
    margin-top: 5px; 
    margin-top: 10px;
    color: black;
  }
  a:hover {
    color: black;
    padding: 5px;
  }
  li:hover {
    background-color:whitesmoke;
    color: black;
  }
  .foco img{
    width: 100%;
    height: auto;
   
  }
}
